/*Estilos del header*/

h1 {
    text-align: center;
    text-decoration: none;
}

#textos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkred;
}


/*Estilos del footer*/

.footer {
    margin-top: -50px;
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    margin: 0 10px;
}


/*Estilos del cuerpo de la pagina principal index...    background-image: url("../img/jumbo.jpg");
    background-size: cover;*/

#jumbotrom {
    text-decoration-color: #0000;
    margin-top: 100px;
    background: linear-gradient(to bottom, #FFFDFD, #D5D5D5);
}


/*Estilos par el menu*/

#navbar {
    background-color: #f1f1f1;
    padding: 20px 5px;
    transition: 0.2s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    margin-left: 15%;
}

#navbarNav {
    margin-left: 10%;
}

.bg {
    margin-top: 26px;
    background: url('../img/empre.jpg') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 550px;
    /*same height as jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbotron1 {
    height: 400px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: transparent;
}


/*modo responsive para celular */

@media screen and (max-width: 800px) {
    /*desaparesco el logo poque ocupa mucho espacio*/
    #logoindex {
        display: none;
    }
}


/*ESTILOS DE SERVICIOS y la pagina independiente de servicios ;)*/

#services {
    margin-top: -100px;
    background: linear-gradient(to bottom, #FFFDFD, #D5D5D5);
}

#downservice {
    margin-top: 400px;
}

#card {
    margin-top: -300px;
}

#card1 {
    margin-top: 20px;
}

.column div {
    position: relative;
    float: left;
    height: 150px;
    margin: 0 0 0 25px;
    padding: 0;
}

.card figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

figure {
    height: 150px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.footerservice {
    margin-top: 100px;
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footerservice .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    margin: 0 10px;
}

#jumboservice {
    margin-top: 100px;
    background-image: url("../img/services.jpg");
    background-size: cover;
}

.bodyservice {
    background: linear-gradient(to bottom, #FFFDFD, #D5D5D5);
}

#borderservice {
    border: white double;
    color: white;
}

#borderservice:hover {
    background-color: #FFFDFD;
    color: #333;
    border: #333 double;
}


/* Estilos de acercade ;) */

#arcade {
    margin-top: 200px;
}


/*Estilos de Contactanos*/

.bodycontac {
    background-color: #7C8ACB;
}

.img {
    margin-top: 30px;
}

#jumbocontact {
    margin-top: 100px;
    background-image: url("../img/contac.png");
    background-size: cover;
}

.contacto {
    font-size: 40px;
    color: #FFFDFD;
}


/* -------------------- */