/*------------------*/
/*Estilos Master*/
/*Estilos del header*/
#textos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkred;
}

nav {
    background: linear-gradient(#FCF3CF , #F6CEE3 );
}

#change:hover {
    background-color:#F5A9BC;
}
#button:hover {
    background-color: darkslategray;
    color: blanchedalmond;
    border-radius: 4px;
    border: 2px solid #F6CEE3;
}
#dropdown {
    background: linear-gradient(#FCF3CF , #F6CEE3 );
}

/*Estilos del footer*/

.footer {
    background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    margin: 0 10px;
}
/*Estilos del cuerpo de la pagina principal index...*/

#jumbotrom {
    background-image: url("../img/finanzas.jpg");
    background-size: cover;
}