* {
  box-sizing: border-box;
}

form {
	display: grid;/*Tomara un anchura fija y la otra una fraccion de la parte disponible*/
	grid-template-columns: 200px 1fr;
	grid-gap: 16px;/*Agregar un canal --Espace-- entre filas y coumnas*/
}

label {
	grid-column: 1 / 2;
}

input, button, select {
	grid-column: 2 / 3;
	border-radius: 4px;
	height: 40px;
	position: relative;
}

.form {
	width: 800px;
  	padding: 20px;
  	margin: 40px;
  	border: 1px solid #d8d8d8;
}